langchain_community
langchain
pypdf
sentence_transformers
streamlit
streamlit-pdf-viewer
huggingface-hub
langchain_huggingface
pdfplumber
faiss-cpu
streamlit_chat
langchain-anthropic
streamlit_option_menu
